* {
  -webkit-text-size-adjust: 100%; }

html, body {
  min-width: 22em;
  margin: 0;
  padding: 0;
  font-size: 0.98em;
  color: #323232;
  background-color: #ffffff;
  font-family: Muli,Georgia,Times,"Times New Roman",serif; }
  html a, body a {
    color: #335AAF; }

.content p {
  font-size: 1.05em; }

.pane1 {
  background-color: #ffffff;
  min-height: 33em;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden; }
  .pane1 .sidebar {
    position: relative;
    z-index: 1000 !important;
    min-height: 33em;
    height: calc(100vh);
    margin: 0;
    background-color: #426BBF;
    width: calc(14.5em + 10%);
    float: left;
    overflow-x: hidden; }
    .pane1 .sidebar .circle {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: calc(30vh - 8.5em);
      border: 2px solid #3c61ae;
      height: 12.5em;
      width: 12.5em;
      overflow: hidden; }
      .pane1 .sidebar .circle img {
        height: 12.5em;
        width: 12.5em; }
    .pane1 .sidebar h1 {
      color: white;
      text-align: center;
      margin-top: 0.7em;
      font-size: 2.2em;
      font-family: "Roboto Slab";
      font-weight: 300; }
    .pane1 .sidebar .fa {
      cursor: default; }
    .pane1 .sidebar p {
      color: #ffffff;
      font-weight: 300;
      font-size: 1.1em;
      font-family: Muli,Georgia,Times,"Times New Roman",serif;
      width: auto;
      padding-left: 1.8em;
      padding-right: 1.8em;
      margin-top: 1.3em;
      margin-bottom: 1.3em;
      text-align: center; }
      .pane1 .sidebar p .emailLink {
        color: white;
        text-decoration: none; }
      .pane1 .sidebar p .emailLink:hover {
        text-decoration: underline; }
    .pane1 .sidebar .roles {
      font-size: 1.05em; }
  .pane1 .introText {
    background-color: #ffffff;
    padding: 0;
    line-height: 100vh;
    height: calc(100vh - 3em - 0px); }
    .pane1 .introText .content {
      display: inline-block;
      margin-top: -200vh;
      line-height: 1.5em;
      vertical-align: middle; }
    .pane1 .introText p:first-child {
      margin-top: 0; }
    .pane1 .introText h2 {
      font-weight: 400;
      font-size: 2em;
      font-family: 'Oswald', "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
      margin-left: calc(7.75em + 14%);
      margin-right: 4%;
      margin-bottom: 1.2em; }
    .pane1 .introText p {
      margin-top: 1.8em;
      margin-left: calc(14.762em + 14%);
      margin-right: 4%; }
  @media all and (max-width: 47em) {
    .pane1 {
      height: auto;
      min-height: 0;
      overflow-y: auto; }
      .pane1 .sidebar {
        float: none;
        width: 100%;
        height: 31em;
        min-height: 0;
        border-right: none;
        border-bottom: 5px solid #3c61ae;
        padding: 0; }
      .pane1 .circle {
        height: 9em !important;
        width: 9em !important;
        margin-top: 1em !important;
        margin-bottom: 0.5em !important; }
      .pane1 .circle img {
        height: 9em !important;
        width: 9em !important; }
      .pane1 .introText {
        height: auto;
        padding-top: 2em;
        width: auto;
        line-height: 1.5em; }
        .pane1 .introText .content {
          margin: 0;
          vertical-align: baseline;
          display: block;
          padding-top: 4em;
          padding-bottom: 6em; }
        .pane1 .introText p, .pane1 .introText h2 {
          margin: 0 auto;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          width: 90%; }
        .pane1 .introText h2 {
          margin-top: 0;
          margin-bottom: 1.5em !important; } }

.pane2 {
  background-color: #ffffff; }
  .pane2 .navBar {
    -webkit-transition: all .13s;
    /* Safari */
    transition: all .13s;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    display: block;
    background-color: rgba(219, 68, 55, 0.87);
    z-index: 150;
    height: 3.5em;
    text-align: center;
    width: 100%;
    line-height: 3.5em; }
    .pane2 .navBar li {
      font-size: 1.1em;
      display: inline-block;
      width: 32%;
      padding: 0;
      color: white;
      margin: 0; }
      @media all and (max-width: 34em) {
        .pane2 .navBar li {
          font-size: 0.9em; } }
      .pane2 .navBar li a {
        margin: 0;
        padding: 0;
        color: white;
        text-decoration: none; }
      .pane2 .navBar li a:hover {
        text-decoration: underline; }
  .pane2 .content {
    width: 65%;
    max-width: 70em;
    margin: 0 auto;
    padding-top: 3.5em;
    background-color: #ffffff; }
    @media all and (max-width: 47em) {
      .pane2 .content {
        width: 80%; } }
    .pane2 .content .linkto {
      position: relative;
      top: -6em;
      width: 0;
      height: 0;
      visibility: hidden; }
  .pane2 h2, .pane2 h3 {
    font-weight: 400;
    font-size: 2em;
    font-family: 'Oswald', "Century Gothic",CenturyGothic,AppleGothic,sans-serif; }
  .pane2 h3 {
    font-weight: 300;
    font-size: 2em; }
  .pane2 .previewWrapper {
    text-align: center;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 2em;
    margin-bottom: 2em; }
  .pane2 .preview:hover {
    opacity: 0.6; }
  .pane2 .preview {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #444;
    max-height: 20em;
    max-width: 75%;
    margin: 0;
    -webkit-transition: all .18s ease-out;
    /* Safari */
    transition: all .18s ease-out;
    display: inline-block; }
  .pane2 .pSection {
    padding-bottom: 3em; }
  .pane2 .pSection:last-child {
    padding-bottom: 6em; }

.pane3 {
  color: #ffffff;
  z-index: 3;
  background: #426BBF; }
  .pane3 .downTriangle {
    z-index: 100;
    width: 0;
    height: 0;
    border-left: 70px solid transparent;
    border-right: 70px solid transparent;
    margin: 0 auto;
    border-top: 49px solid #ffffff;
    position: relative;
    top: -5px; }
  .pane3 .content {
    width: 60%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 3em; }
  .pane3 h2 {
    margin-top: 0;
    font-size: 2.4em;
    margin-bottom: 0.8em;
    font-family: "Roboto Slab"; }
  .pane3 #emailaddress, .pane3 #name, .pane3 #emailbody {
    background-color: #ffffff;
    border: 1px solid #dedede; }
  .pane3 #emailaddress, .pane3 #name {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0.3em;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-family: Muli,Georgia,Times,"Times New Roman",serif; }
  .pane3 #emailbody {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: block;
    padding: 0.3em;
    height: 10em;
    margin: 0 auto;
    font-family: Muli,Georgia,Times,"Times New Roman",serif;
    font-size: 1em; }
  .pane3 .submit {
    cursor: pointer;
    -webkit-transition: all .08s ease-out;
    /* Safari */
    transition: all 0.08s ease-out;
    font-family: Muli,Georgia,Times,"Times New Roman",serif;
    font-size: 0.9em;
    margin-top: 1.5em;
    background-color: #2b4c8f;
    height: 3em;
    width: 4.86em;
    letter-spacing: 0.03em;
    color: white;
    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }
  .pane3 .submit:hover {
    background-color: #223d72; }
  .pane3 .submit:active {
    background-color: #192d54; }
  .pane3 #emailaddress, .pane3 #emailbody, .pane3 #name {
    width: 100%; }
  .pane3 label {
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5em;
    font-family: Muli,Georgia,Times,"Times New Roman",serif;
    font-size: 1.2em; }

/*# sourceMappingURL=styles.css.map */
