body,
html {
    min-width: 22em;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #323232;
    font-family: Muli, Georgia, Times, "Times New Roman", serif;
}

.pane1 {
    min-height: 33em;
    margin: 0;
    padding: 0;
    @media all and (min-width:47em){
        height: 100vh;
        overflow-y: hidden;
        .sidebar {
            position: relative;
            z-index: 1000 !important;
            min-height: 33em;
            height: calc(100vh);
            margin: 0;
            width: calc(14.5em + 10%);
            float: left;
            h1 {
                margin-top: 0.7em;
            }
            p{
                line-height:1.6;
            }
        }
        .introText {
            margin-left: calc(14.5em + 10%);
            height: 100vh;
            min-height:100%;
            padding-left: 3em;
            padding-right: 3em;
        }
    }
    @media all and (max-width:47em){
        .sidebar{
            .circle{
                margin-top:1.5em !important;
                margin-bottom:0 !important;
            }
            h1{
                margin-top:0.2em;
                margin-bottom: 0.2em;
            }
            p {
                line-height:1.2;
            }
        }
        .introText {
            padding-left: 1em;
            padding-right: 1em;
        }
    }
    .sidebar {
        overflow: hidden;
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
        background-color: #390FD9;
        background-image: url("../assets/seigaiha-transparent.png");
        background-repeat: repeat;
        .circle {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%;
            margin: calc(30vh - 8.5em) auto 0;
            border: 5px solid rgba(0, 0, 0, 0.2);
            height: 12.5em;
            width: 12.5em;
            overflow: hidden;

            img {
                height: 12.5em;
                width: 12.5em;
            }
        }

        h1 {
            color: white;
            text-align: center;
            font-size: 2.2em;
            font-family: "Roboto Slab";
            font-weight: 300;
        }

        .fa {
            cursor: default;
        }

        p {
            color: #ffffff;
            font-weight: 300;
            font-size: 1.1em;
            font-family: Muli, Georgia, Times, "Times New Roman", serif;
            width: auto;
            padding-left: 1.8em;
            padding-right: 1.8em;
            text-align: center;

            .emailLink {
                color: white;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .introText {
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        max-width:80em;
        h2 {
            font-weight: 400;
            font-size: 2em;
            font-family: 'Oswald', "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
            margin-bottom: 1.2em;
        }

        p {
            margin-top: 1.8em;
            line-height:1.5;
            font-size: 1.1em;
        }
    }
}
