node_modules
build
.svelte-kit
.svelte
.wireit
.git
.github
.netlify
.DS_Store
.vscode
test-results
playwright-report
tests
.editorconfig
.prettierrc
.stylelintrc.json
.eslintrc.yml
playwright.config.ts
