.DS_Store
node_modules
/.svelte
/build
/functions
.svelte/
.svelte
.svelte-kit/
.svelte-kit
.vscode/
.vscode
test-results/
playwright-report/
tests/build/
tests/build
build/
.netlify/
.wireit/
src/data
assets/**/*.webp
assets/tags
