<div class="PostControls">
  <div class="contentWrapper">
    <h2>
      Projects
    </h2>
    <div>
      <label for="sortInput">Sort:</label>
      <select bind:value="sort" id="sortInput">
        <option value="new">New</option>
        <option value="old">Old</option>
        <option value="alpha">Alphabetical</option>
        <option value="revalpha">Reverse-alphabetical</option>
        <option value="shuffle">Shuffle</option>
      </select>
    </div>
    <div>
      <input id="searchInput" bind:value="searchString" type="text" />
      <button>
        Search
      </button>
    </div>
  </div>
</div>
<style>
  div.PostControls {
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(34, 34, 34, 0.15);
  }

  div.PostControls > div.contentWrapper {
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  div.PostControls > div.contentWrapper > * {
    padding: 0.75rem 2rem 0.5rem;
    /* border-left: 1px solid #1d3557; */
    margin: 0;
  }
  div.PostControls > div.contentWrapper > h2 {
    padding-left: 0;
    border-left: 0;
  }

  @media screen and (max-width: 800px) {
    div.PostControls > div.contentWrapper {
      flex-direction: column;
    }
    div.PostControls > div.contentWrapper > * {
      border: none;
      padding: 0.5rem 2rem;
      text-align: center;
    }
  }
</style>
