<div class="contentWrapper">
  {#each posts as post}
  <article class="post">
    <h2><a rel="prefetch" href="blog/{post.slug}">{post.title}</a></h2>
    <div>
      {post.date}
    </div>
    <div class="twoCol">
      <div class="img">
        {#if post.image}
        <img src="{post.image}" alt="{post.title}" />
        {/if}
      </div>
      <div class="content">
        {@html post.content}
      </div>
    </div>
  </article>
  {/each}
</div>

<style>
  article.post div.twoCol > .img {
    width: 30%;
  }

  article.post div.twoCol > .img > img {
    max-width: 100%;
    display: block;
  }

  article.post div.twoCol > .content {
    width: 70%;
  }
  article.post div.twoCol {
    display: flex;
  }
  article.post:nth-child(2n) div.twoCol {
    flex-direction: row;
  }
  article.post:nth-child(2n + 1) div.twoCol {
    flex-direction: row-reverse;
  }
</style>
