div.twoColumn {
  display: grid;
  grid-template-columns: 3fr 8fr;
  grid-template-areas: "sidebar content";
}

div.mainContent {
  grid-area: content;
  background-color: var(--background);
}

@media (max-width: 1000px) {
  div.twoColumn {
    grid-template-areas: "sidebar" "content";
    grid-template-columns: 1fr;
  }
}

a:focus,
button:focus {
  outline: 2px dotted var(--focusOutline) !important;
  outline-offset: 2px !important;
}

article.postFull p,
.intro p {
  margin: 1.5rem auto !important;
}

p {
  margin: 0;
  padding: 0;
  color: var(--foreground);
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  line-height: 1.7;
  color: var(--foreground);
  background-color: var(--background);
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif !important;
}

body {
  --job: #e71f1f;
  --project: #2b44b3;
  --org: #278507;
  --subtitle: #444;
  --timeline: #666;
  --postBorder: #cdcdcd;
  --sidebarBorder: #cdcdcd;
  --timelineMarker: #555;
  --sidebarBackground: #f6f6f6;
  --background: white;
  --postBackground: white;
  --foreground: #222;
  --heading: black;
  --link: #1f4987;
  --focusOutline: #ababab;
}

@media (prefers-color-scheme: dark) {
  body {
    --job: #fa6767;
    --project: #758eff;
    --org: #5bd632;

    --subtitle: #ccc;
    --timeline: #444;
    --postBorder: #323232;
    --sidebarBorder: #323232;
    --timelineMarker: #555;
    --sidebarBackground: #131313;
    --background: black;
    --postBackground: #131313;
    --foreground: #fafafa;
    --heading: white;
    --link: white;
    --focusOutline: #454545;
  }
}

html body[data-theme="light"] {
  --job: #e71f1f;
  --project: #2b44b3;
  --org: #278507;

  --subtitle: #444;
  --timeline: #666;
  --postBorder: #cdcdcd;
  --sidebarBorder: #cdcdcd;
  --timelineMarker: #555;
  --sidebarBackground: #f6f6f6;
  --background: white;
  --postBackground: white;
  --foreground: #222;
  --heading: black;
  --link: #1f4987;
  --focusOutline: #ababab;
}

html body[data-theme="dark"] {
  --job: #fa6767;
  --project: #758eff;
  --org: #5bd632;

  --subtitle: #ccc;
  --timeline: #444;
  --postBorder: #323232;
  --sidebarBorder: #323232;
  --timelineMarker: #555;
  --sidebarBackground: #131313;
  --background: black;
  --postBackground: #131313;
  --foreground: #fafafa;
  --heading: white;
  --link: white;
  --focusOutline: #454545;
}

h1,
h2,
h3,
h1 *,
h2 *,
h3 * {
  color: var(--heading);
  font-weight: 600 !important;
}

.contentWrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5%;
}

code {
  background-color: var(--postBackground) !important;
  border: 1px solid var(--postBorder);
  border-radius: 3px;
  padding: 0 3px;
}

a {
  color: var(--link);
}

a:hover {
  text-decoration: underline !important;
}

@media (min-width: 400px) {
  body {
    font-size: 17px;
  }
}
