div.twoColumn {
  display: grid;
  grid-template-columns: 3fr 8fr;
  grid-template-areas: "sidebar content";
}
div.mainContent {
  grid-area: content;
  background-color: var(--background);
}
@media (max-width: 1000px) {
  div.twoColumn {
    grid-template-areas: "sidebar" "content";
    grid-template-columns: 1fr;
  }
}

button {
  outline: none !important;
}

article.postFull p,
.intro p {
  margin: 1.5rem auto !important;
}

p {
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-size: 14px;
  line-height: 1.7;
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Source Sans Pro", sans-serif !important;
}

body {
  --job: #e71f1f;
  --project: #2b44b3;
  --ec: #339911;

  --timeline: #555;
  --postBorder: #cdcdcd;
  --sidebarBorder: #cdcdcd;
  --timelineMarker: #444;
  --sidebarBackground: #f6f6f6;
  --background: white;
  --postBackground: white;
  --foreground: #222;
  --heading: black;
  --link: #1f4987;
}

@media (prefers-color-scheme: dark) {
  body {
    --job: #fa6767;
    --project: #758eff;
    --ec: #5bd632;

    --timeline: #444;
    --postBorder: #323232;
    --sidebarBorder: #323232;
    --timelineMarker: #555;
    --sidebarBackground: #111;
    --background: black;
    --postBackground: #151515;
    --foreground: #fafafa;
    --heading: white;
    --link: white;
  }
}

html body[data-theme="light"] {
  --job: #e71f1f;
  --project: #2b44b3;
  --ec: #339911;

  --timeline: #555;
  --postBorder: #cdcdcd;
  --sidebarBorder: #cdcdcd;
  --timelineMarker: #444;
  --sidebarBackground: #f6f6f6;
  --background: white;
  --postBackground: white;
  --foreground: #222;
  --heading: black;
  --link: #1f4987;
}

html body[data-theme="dark"] {
  --job: #fa6767;
  --project: #758eff;
  --ec: #5bd632;

  --timeline: #444;
  --postBorder: #323232;
  --sidebarBorder: #323232;
  --timelineMarker: #555;
  --sidebarBackground: #111;
  --background: black;
  --postBackground: #151515;
  --foreground: #fafafa;
  --heading: white;
  --link: white;
}

h1,
h2,
h3,
h1 *,
h2 *,
h3 * {
  color: var(--heading);
  font-family: "Heebo", sans-serif !important;
  font-weight: medium;
}

.contentWrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5%;
}

code {
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 3px;
}

a {
  color: var(--link);
}

a:hover {
  text-decoration: underline !important;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
