html,
body,
body > * {
  font-family: "Muli", sans-serif !important;
}

p {
  margin: 0;
  padding: 0;
}

.light {
  font-weight: 200;
}

div.PostControls input,
div.PostControls .selectContainer,
div.PostControls .selectedItem {
  height: 2rem !important;
  line-height: 2rem !important;
}

div.PostControls input,
div.PostControls .selectContainer {
  padding: 0 0.5rem !important;
}

div.PostControls .selectContainer,
div.PostControls .inputSection > input {
  border: 1px solid #ddd !important;
  border-radius: 3px !important;
  background-color: white;
}

div.PostControls > div.contentWrapper > div.inputSection > * {
  margin: 0 6px !important;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: #222;
}

div.contentWrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

code {
  background-color: #fafafa;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Cabin Condensed", sans-serif !important;
}

a {
  color: #1f4987;
}

a:hover {
  text-decoration: underline !important;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
