@mixin light-theme () {
  --job: #d92120;
  --project: #7c4bf6;
  --org: #15803D;

  --job-marker: #f18383;
  --project-marker: #a896f1;
  --org-marker: #60b576;

  --activeTagBorder: #434548;
  --background: #f8f9fb;
  --focusOutline: #81848a;
  --foreground: #2f3949;
  --heading: #1f2938;
  --link: #195896;
  --postBackground: #f3f4f7;
  --postBorder: #d1d5dd;
  --sidebarBackground: #f3f4f7;
  --sidebarBorder: #d1d5dd;
  --subtitle: #434548;
  --timeline: #81848a;
}

@mixin dark-theme () {
  --job: #f28282;
  --project: #a797ea;
  --org: #55b56f;

  --job-marker: var(--job);
  --project-marker: var(--project);
  --org-marker: var(--org);

  --activeTagBorder: #bdc7d9;
  --background: #1A1F28;
  --focusOutline: #58606e;
  --foreground: #e5e7eb;
  --heading: #fcfcfd;
  --link: #9bbaf0;
  --postBackground: #212732;
  --postBorder: #2d3642;
  --sidebarBackground: #212732;
  --sidebarBorder: #2d3642;
  --subtitle: #bdc7d9;
  --timeline: #58606e;
}

body {
  --boxShadow: 0 1px 4px hsla(0,0%,0%,0.15);
  @include light-theme();
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-theme();
  }
}

html body[data-theme="light"] {
  @include light-theme();
}

html body[data-theme="dark"] {
  @include dark-theme();
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  visibility: visible !important;
  font-size: 15px;
}

body {
  line-height: 1.7;
  color: var(--foreground);
  background-color: var(--background);
}

@media (prefers-reduced-motion: reduce) {
  body, body * {
    animation-delay: 0ms !important;
    animation-duration: 1ms !important;
    transition-delay: 0ms !important;
    transition-duration: 1ms !important;
  }
}

@media (min-width: 400px) {
  html {
    font-size: 17px;
  }
}

img {
  color: transparent; /* don't show alt text when loading */
}

input, input[type="button"], button {
  touch-action: manipulation;
  user-select: none;
}

button:not(:disabled) {
  cursor: pointer;
}

@mixin focus-styles () {
  outline: 2px dotted var(--focusOutline) !important;
  outline-offset: 1px !important;
}

:focus {
  @include focus-styles();
}

// disables :focus styles if :focus-visible supported
:focus:not(:focus-visible) {
    outline: none !important;
}

:focus-visible {
  @include focus-styles();
}

article.postFull p,
.intro p {
  margin: 1.5rem auto !important;
}

p {
  margin: 0;
  padding: 0;
  color: var(--foreground);
}

.doTransition, body, p, a, h1, h2, h3, h4, code {
  transition: color 0.5s ease, background-color 0.5s ease, border-color 0.5s ease;
}

h1,
h2,
h3,
h4 {
  color: var(--heading);
  font-weight: 600 !important;
}

.contentWrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

code {
  background-color: var(--postBackground) !important;
  border: 1px solid var(--postBorder);
  border-radius: 3px;
  padding: 0 3px;
}

a {
  color: var(--link);
  text-decoration: none;

  &:hover {
    text-decoration: underline !important;
  }
}

picture.fixedSize {
  position: relative;

  * {
    position: absolute;
    top: 0;
    left: 0;
  }
}
